@charset "UTF-8";

body {
	font-family: "Raleway";
	margin: 0;
	padding: 0;
}

.inner {
	margin: 0 auto;
	width: 1100px;
}

.header {
	background-color: #fff;
	width: 100%;
	position: fixed;
	z-index: 20;
}

.head_inner {
	display: flex;
	justify-content: space-between;
}

.bolt {
	font-size: 2em;
	padding: 15px 0;
}

.contact {
	text-align: right;
	margin: 15px;
}

.a_contact {
	text-decoration: none;
	font-size: 12px;
	color: #fff;
	padding: 14px 12px;
	background-color: #74cfae;
	box-sizing: border-box;
	cursor: pointer;
	transition: all 0.3s;
}

a:hover {
	color: #333;
}

main {
	width: 100%;
	padding-top: 62px;
}

.theme {
	background-color: #f2f2f2;
	text-align: center;
	padding: 250px 0;
}

.title {
	font-size: 90px;
	font-weight: 700;
	color: #74cfae;
	padding-bottom: 20px;
}

.title_text {
	font-size: 30px;
	color: #c0c0c0;
}

.info {
	background-color: #74cfae;
	text-align: center;
	padding-top: 50px
}

.info_inner {
	display: table;
}

.img_info {
	display: table-cell;
	padding-left: 100px;

}

.info_box {
	display: table-cell;
	vertical-align: middle;
	padding: 50px;
}

.info_title {
	color: #fff;
	font-size: 24px;
	padding-bottom: 35px;
}

.info_text {
	display: inline-block;
	color: #fff;
	font-size: 20px;
}

.content {
	background-color: #f2f2f2;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 70px;
}

.content_img {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.img {
	box-sizing: border-box;
	margin-right: 100px;
	margin-bottom: 80px;
	cursor: pointer;
	transition: all 0.3s;
	opacity: 0.7;
	z-index: 10;
}

.img:nth-child(3n) {
	margin-right: 0;
}

.img:hover {
	opacity: 1;
}

.content_title {
	font-size: 24px;
	padding: 60px 0 40px 0;
}

.content_box {
	display: table;
}

.content_text {
	display: table-cell;
	padding: 10px 90px 0 90px;
	text-align: center;
	width: 700px;

}

.content_access {
	color: #fff;
	font-size: 12px;
}

.content_access:hover {
	color: #333;
}

.a_access {
	text-decoration: none;
	font-size: 12px;
	color: #fff;
	padding: 14px 20px;
	background-color: #74cfae;
	box-sizing: border-box;
	cursor: pointer;
	transition: all 0.
}

.skills {
	background-color: #4e4e4e;
	text-align: center;
	padding-top: 70px;
	padding-bottom: 100px;
}

.skills_title {
	color: #fff;
	font-size: 24px;
}

.skills_img {
	display: flex;
	margin: 0 auto;
}

.skills_text {
	padding: 40px 180px 0 0;
	color: #fff;
	font-size: 16px;
}

.skills_text:first-child {
	padding-left: 50px;
}

p {
	padding-top: 20px;
}

.sns {
	background-color:#f2f2f2;
	text-align: center;
	padding: 200px 0;
}

.sns_inner {
	display: table;
}

.size {
	font-size: 3em;
	color: #74cfae;
	display: table-cell;
	box-sizing: border-box;
	padding: 80px;
	text-align: center;
	cursor: pointer;
	transition: all 0.3s;
}

.size:hover {
	background-color: #fff;
}


.footer {
	background-color: #74cfae;
	width: 100%;
	padding: 20px 0 25px 0;
}

.footer_inner {
	text-align: end;
}

.footer_text {
	color: #fff;
}